.cache/*
HySAC/hysac.egg-info/*
HySAC/__pycache__/*
HySAC.egg-info/*
embeddings_cache/*
HySAC/hysac/dataset/.cache/*
HySAC/hysac/dataset/__pycache__/*
HySAC/hysac/dataset/annotations/*
HySAC/hysac/utils/__pycache__/*
HySAC/hysac/__pycache__/*+
embeddings.pkl
plots/notebooks/prova.ipynb
hyperbolic_safe_clip/*
clip_embeddings/*
safeclip_embeddings/*
HySAC/hysac/__pycache__/*
