.cache/*
HySAC/hysac.egg-info/*
HySAC/__pycache__/*
HySAC.egg-info/*
embeddings_cache/*
HySAC/hysac/dataset/.cache/*
HySAC/hysac/dataset/__pycache__/*
HySAC/hysac/dataset/annotations/*
HySAC/hysac/utils/__pycache__/*
HySAC/hysac/__pycache__/*+
embeddings.pkl
plots/notebooks/prova.ipynb
hyperbolic_safe_clip/*
clip_embeddings/*
safeclip_embeddings/*
HySAC/hysac/__pycache__/*
LorentzMLP/models/Lorentz_MLP.pt
LorentzMLP/models/Poincare_MLP.pt
LorentzMLP/models/SVM.pt
LorentzMLP/test.py
__pycache__/
*.pyc
embeddings
training/separated_embeddings
.idea

