torch==2.3.0+cu118
torchvision==0.18.0+cu118
torchaudio==2.3.0+cu118
transformers==4.55.4
accelerate==1.10.1
bitsandbytes==0.47.0
huggingface-hub==0.34.4
sentence-transformers==5.1.2
peft==0.17.1
tokenizers==0.21.4
safetensors==0.6.2
numpy==1.26.4
pandas==2.3.2
scikit-learn==1.7.1
scipy==1.15.3
matplotlib==3.10.5
seaborn==0.13.2
joblib==1.5.1
threadpoolctl==3.6.0
packaging==25.0
typing_extensions==4.12.2
certifi==2022.12.7
charset-normalizer==2.1.1
idna==3.4
urllib3==1.26.13
requests==2.28.1
optuna==4.5.0
geoopt==0.5.1
captum==0.8.0
ml_collections==1.1.0
loguru==0.7.3
colorlog==6.9.0